<div id="<%= dom_id booking %>">

<br><br>
  <p>
    <strong>Name:</strong>
    <%= booking.reserve_name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%# <%= booking.reserve_date %>
    <%= booking.start_time %>
  </p>
  
  <p>
    <strong>Room:</strong>
    <%= booking.room_type %>
  </p>
  
  <p>
    <strong>Plan:</strong>
    <%= booking.plan %>
  </p>

</div>
